{% extends 'post/base.html' %}

{% block content %}
<div class="border border-2 p-4 pb-2 mx-auto" style="width:25rem ; border-radius: 10px; margin-top: 6rem;">
<h2 class="mb-4">Hi, I am Bekir 👋</h2>
<p>I'm Full-Stack Developer. </p>
<p>I know JavaScript, ReactJS, Python, django, Bootstrapt, Sass. </p>
<ul class="list-group list-group-flush">
    <li class="list-group-item pb-3"><a href="mailto:bekirugur070@gmail.com" target="_blank">Send email: bekirugur070@gmail.com</a></li>
    <li class="list-group-item pb-3"><a href="https://github.com/bekirugurr" target="_blank">Github</a></li>
    <li class="list-group-item"><a href="https://www.linkedin.com/in/bekiru%C4%9Fur/" target="_blank">Linkedin</a></li>
  </ul>
</div>
{% endblock content %}