{% extends 'base.html' %} 
{% block content %} 
{% load crispy_forms_tags %}

<div class="row" >
    <div class="col-md-8 col-lg-8 mx-auto my-2 border" style="padding: 1rem 2rem">
        <h3 class="border-bottom mx-3 mb-2 pb-3">Join Today</h3>

        <form action="{% url 'register' %}" method="post" class="mx-3  pb-4 border-bottom">
            {% csrf_token %} {{register_form |crispy}}
            <button type="submit" class="btn btn-outline-primary mt-3">Register</button>
        </form>
        <p class="mx-3 mt-2">Already have an account? <a href="{% url 'user_login' %}">   Sign In Now</a></p>
    </div>
</div>

{% endblock content %}