{% extends 'base.html' %} {% load static %}



{% block content %} {% load crispy_forms_tags %}
<div class="row">
  <div class="col-md-8 col-lg-8 mx-auto my-2 border" style="padding: 1rem 2rem">
    <div class="d-flex flax-row">
      <div class="mx-3">
        {% if request.user.profile.profile_pic %}
        <img
          src="{{ request.user.profile.profile_pic.url }}"
          alt="default profile pic"
          style="
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            margin: 0.5rem 0;
          "
        />
        {% else %}
        <img
          src="{% static 'post/avatar.png' %}"
          alt="default profile pic"
          style="
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
          margin: 0.5rem 0;
        "
        />
        {% endif %}
      </div>
      <div class="p-3">
          <h1>{{ user.username }}</h1>
          <p>{{ user.email }}</p>
        </div>
    </div>
    <h3 class="border-bottom mx-3 mb-2 pb-3">Profile</h3>

    <form
      action="{% url 'user_profile' %}"
      method="post"
      enctype="multipart/form-data"
      class="d-flex flex-column mx-3 pb-4 border-bottom"
      style="gap: 1rem"
    >
      {% csrf_token %} {{ user_form | crispy }} {{ profile_form | crispy }}
      <button type="submit" class="btn btn-outline-primary" style="width: 8rem">
        Update
      </button>
    </form>
  </div>
</div>
{% endblock content %}
